@model Tidred.WebApp.Models.ReportModel
@{
    var reportTypes = new SelectList(Enum.GetValues(typeof(Tidred.WebApp.Models.ReportType)), Model.ReportType);
}
<fieldset class="pull-left">
    <legend>Urval</legend>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.Label("Rapport")
                @Html.DropDownListFor(model => model.ReportType, @reportTypes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ReportType)
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.Label("Kund")
                @Html.DropDownListFor(model => model.CustomerId, Model.Customers, "(Ingen)", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.Label("Projekt")
                @Html.DropDownListFor(model => model.ProjectId, Model.Projects, "(Inget)", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Datum från")
                @Html.TextBoxFor(model => model.StartDate,  "{0:yyyy/MM/dd}", new { @class = "datepicker form-control" })
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Datum till")
                @Html.TextBoxFor(model => model.EndDate, "{0:yyyy/MM/dd}", new { @class = "datepicker form-control" })
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Visa</button>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.CoId)

</fieldset>