<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
</head>
<body>

    @{
        var urlTimeIndex = Url.Action("Index", "Time");
        var urlAdminIndex = Url.Action("Index", "Admin");
        var urlLogoff = Url.Action("LogOff", "User");
        var urlChangePassword = Url.Action("Manage", "User");
        var urlDemo = Url.Action("Index", "Demo");
        var urlStat = Url.Action("Index", "Report");
    }

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("TIDRED", "Index", "Time", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse" align="center">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="@urlTimeIndex">
                            <img src="~/Content/tidred/Clock2.jpg" width="120" height="120" />
                            <p>TIDRED</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@urlStat">
                            <img src="~/Content/tidred/Report.jpg" width="120" height="120" />
                            <p>STAT</p>
                        </a>
                    </li>
                    <li>
                        <a href="@urlAdminIndex">
                            <img src="~/Content/tidred/Admin.jpg" width="120" height="120" />
                            <p>ADMIN</p>
                        </a>
                    </li>
                    <li>
                        <a href="@urlDemo">
                            <img src="~/Content/tidred/Demo.jpg" width="120" height="120" />
                            <p>DEMO</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/Content/tidred/User.jpg" width="120" height="120" />
                            <br />@User.Identity.Name
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@urlLogoff" class="ui-menu-item">Logga ut</a></li>
                            <li><a href="@urlChangePassword" class="ui-menu-item">Byt lösenord</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <h4>&copy; @DateTime.Now.Year - IT-BUDET Öland</h4>
            <p>Adda kontaktlänk eller fixa via bilden ovan...</p>
            <p>Adda licens freedigitalphotos...</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tidred/account.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker(
            {
                format: "yyyy-mm-dd",
                weekStart: 1,
                orientation: "top"
            });
        });
    </script>


    @RenderSection("scripts", required: false)

</body>
</html>
